/*-- Fonts---*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {

    height: 100vh;
    background: url("/assets/images/groovy.jpg");
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;

}



a {
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #000000;
    text-transform: none;
    cursor: pointer;
}

/*------------------------ Special paddings/margins/text*/

.uppercase {
    text-transform: uppercase;
}

/*------------------------ Header */

.navbar {
    background-color: transparent;
    font-style: italic;
    font-size: 1em;
    position: inherit;
    width: 100vw;
    height: 170px;
    z-index: 1;
}


.navbar-brand {
    font-weight: 900;
    font-size: 2em;
    color: #000000;
    margin-right: 20px;

}

.navbar-nav {
    display: inline-block;
}


.inline-item{
    display: inline-block;
    font-weight: 900;
    font-size: 2em;
    color: #ffffff;
    margin-right: 10px;
}

#logo {
    margin-left: 40px;
    height: 90px;
    width: 120px;
}




/*--
.callout-container {
    
    
}
--*/

.jumbotron {

    color: #bada25;
    margin-top: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 66;
    position: relative;
    left: auto;
    right: auto;
    border-radius: 50px;

}

.embed-responsive-item {
    border-width:5px;  
    border-style:dotted solid;
}










/*------------Footer */

footer {
    background-color: transparent;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #000000;
    text-transform: none;
    cursor: pointer;
}




.footer-image {
    margin: 0;
    height: auto;
    width: auto;
}

.general-sub {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    float: left;
    margin: 0;
}

.book-now {
    height: 150px;
}

.social-links li a i {
    float: right;
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background-color: #ff0000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
