/*-- Fonts---*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body,
html {
    background: url("/assets/images/groovy.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


a {
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #fff;
    text-transform: none;
    text-shadow: 2px 2px #ff0000;
    cursor: pointer;
    text-shadow: 2px 2px #ff0000;
}

/*------------------------ Special paddings/margins/text*/

.uppercase {
    text-transform: uppercase;
}

.headings {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    text-transform: none;
    text-shadow: 2px 2px #7c18ea;
    text-shadow: 2px 2px #4e568b;
    margin: 20px 0 20px;
}


p {
    font-family: 'Indie Flower', sans-serif;
    font-size: 20px;




}

/*------------------------ Header */

.navbar {
    background-color: transparent;
    font-style: italic;
    font-size: 1em;
    position: static;
    width: 100vw;
    height: 170px;
    margin: 10px 0 50px;
    
}

.navbar-toggler {
    color: #bada25;
    background-color: rgba(0, 0, 0, 0.5);
}


.item-highlight-purple {
    background-color: rgba(153, 50, 204, 0.5);
    margin: 0px;
    padding: 10px;
}

.item-highlight-black {
    background-color: rgba(192, 192, 192, 0.5);
    margin: 0;
    padding: 10px;
}


.navbar-brand {
    font-weight: 900;
    font-size: 2em;
    margin-right: 20px;

}

.navbar-nav {
    display: inline-block;
}



.inline-item {
    display: inline-block;
    font-weight: 900;
    font-size: 2em;
    color: #ffffff;
    margin-right: 10px;
}

#logo {
    margin-left: 40px;
    height: 90px;
    width: 120px;
}



/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.block-divider {
    padding: 23px;
}


.callout-container {
    text-align: center;
}

.jumbotron {

    color: #bada25;
    background-color: rgba(0, 0, 0, 0.5);
    width: 66%;
    position: relative;
    left: auto;
    right: auto;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    text-align: center;

}

.jumbotron-header {
    font-family: 'Indie Flower', sans-serif;
    font-size: 20px;
}

.jumbotron-link {
    margin: 15px 0 15px;
}

.wrapper {
    margin: 40px 0 40px;
}

.monkee-intro {}

/* Form */

.form-heading {
    margin: 10px 0 20px;
}

.form-row {
    text-align: center;
    margin-bottom: 25px;
}

.form-container {
    text-align: center;
    margin-bottom: 50px;
}

.form-colour {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 60%;
    border-radius: 16px;

}


.form-group {
    max-width: 100%;
    text-align: center;
    padding: 20px 40px 20px 40px;
}


.form-button {
    display: inline-block;
    background-color: black;
    color: #fff;
    margin: 15px 30px 15px 30px;
}

/* Videos */

.homepage-video {
    max-width: 600px;
}

.video {
    width: 100%;
    border-width: 5px;
    border-style: dotted solid;
}




/* bookings */

.booking-banner {
    text-align: center;

}

.booking-heading {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 66%;
    margin-bottom: 50px;
    padding: 0 15px 0 15px;

}

/* bios */

.section-intro {
    margin: 15px 0 15px;
}

.bio-individual {
    height: 25em;
    margin-left: auto;
    margin-right: auto;
}

.mug-shot {
    width: 15em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
}

.header-monkee {
    text-align: center;
    padding: 15px;
}

.video-intro {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    padding: 0 15px 0 15px;
}

.signature {
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    font-size: 20px;
    text-align: right;
}


/*  music */

.intro-row {
    text-align: center;
}


.music-intro {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    width: 90%;

}

.album-year {
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    text-align: center;
}

.albums-section {
    margin-bottom: 50px;
}

.media {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rounded-edges {
    border-radius: 16px;
}

.center-spotify {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}



.text-muted {
    text-align: center;

}

/* -- Albums --*/

.albums-section {
    margin-top: 38px;
}

.albums {}

.albums>ol {
    display: block;
    list-style-type: decimal;
    margin: 1em 0 1em 0;
    padding-left: 40px;
}

.track-list {
    padding: 15px 30px 15px 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.album-cover {
    width: 14em;
    height: 14em;
}


.album-divider {
    display: inline-block;
    padding: 30px;
    min-height: 20px;
    min-width: 10%;
}

.album-title {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 3em;
    text-shadow: 2px 2px #fff000;
}


/* pictures.html*/

.heading-container {
    text-align: center;
}

.pictures-heading {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 66%;
    margin-bottom: 50px;
    padding: 0 15px 0 15px;
}

.picture-image {

    position: relative;
    width: 400px;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
    max-width: inherit;
    margin-top: 60px;
}












/*------------Footer */

footer {
    background-color: transparent;
    height: 150px;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #000000;
    text-transform: none;
    position: absolute;
    margin-top: 50px;
}


.merch-section {
    text-align: center;
}

.merch {
    display: inline-block;
}

.general-sub {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    float: left;
    margin: 0;
    text-shadow: 2px 2px #ff0000;
}

.bookings-link {
    text-align: center;

}

.booking-the-boys {
    display: inline-block;
}

.footer-pictures {
    max-height: 177px;
}

.social-header {
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #fff;
    text-transform: none;
    text-shadow: 2px 2px #ff0000;
    cursor: pointer;
    text-shadow: 2px 2px #ff0000;
}

.social-links li a i {
    float: right;
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background-color: #ff0000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



@media only screen and (max-width: 768px) {
    .footer-pictures {
        display: none;
    }
}

@media only screen and (max-width: 571px) {
    .merch {
        margin: 20px 0 20px;
    }

    .general-sub {
        margin: 20px 0 20px;
    }

    .social-header {
        margin: 20px 0 20px;
    }
}
