/*-- Fonts---*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {

    height: 100%;
    background: url("/assets/images/groovy.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



a{
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #fff;
    text-transform: none;
    text-shadow: 2px 2px #ff0000;
    cursor: pointer;
    text-shadow: 2px 2px #ff0000;
}

/*------------------------ Special paddings/margins/text*/

.uppercase {
    text-transform: uppercase;
}

.headings {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    text-transform: none;
    text-shadow: 2px 2px #7c18ea;
    text-shadow: 2px 2px #4e568b;
    margin: 20px 0 20px;
}


p{
    font-family: 'Indie Flower', sans-serif;
    font-size: 20px;
    
    
    
}
/*------------------------ Header */

.navbar {
    background-color: transparent;
    font-style: italic;
    font-size: 1em;
    position: inherit;
    width: 100vw;
    height: 170px;
    z-index: 1;
}


.navbar-brand {
    font-weight: 900;
    font-size: 2em;
    color: #000000;
    margin-right: 20px;

}

.navbar-nav {
    display: inline-block;
}


.inline-item {
    display: inline-block;
    font-weight: 900;
    font-size: 2em;
    color: #ffffff;
    margin-right: 10px;
}

#logo {
    margin-left: 40px;
    height: 90px;
    width: 120px;
}    



.block-divider {
    padding: 23px ;
}

/*--
.callout-container {
    
    
}
--*/

.jumbotron {

    color: #bada25;
    background-color: rgba(0, 0, 0, 0.5);
    width: 66;
    position: relative;
    left: auto;
    right: auto;
    border-radius: 50px;
    font-size: 20px;

}

.jumbotron-pic {
    background-image: url("/assets/images/directors-chair.jpg");
    
    
}

.btn--red {
    background-color: #fff;
    cursor: pointer;
}


/* Videos */

.video {
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-style: dotted solid;
}

/* bios */

.section-intro {
    margin-bottom: 60px;
}

#mug-shot {
    width: 15em;
    height: 20em;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
}

.header-monkee {
    text-align: center;
    padding: 15px;
}

.signature {
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    font-size: 20px;
    text-align: right;
}

.album-year {
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    text-align: center;
}

.albums-section {
    margin-bottom: 50px;
}

.media {
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-spotify {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}



.text-muted{
    text-align: center;
    
}

/* -- Albums --*/


.albums-section {
    margin-top: 38px;
}
.albums > ol {
  display: block;
  list-style-type: decimal;
  margin: 1em 0 1em 0;
  padding-left: 40px;
}

.track-list {
    background-color: rgba(255,255,255,0.5);
}

.album-cover{
    width: 18em;
    height: 18em;
}


.album-divider {
    display: inline-block;
    padding: 30px;
    min-height: 20px;
    min-width: 10%;
}

.album-title{
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    font-size: 3em;
    text-shadow: 2px 2px #fff000;
}

/*------------Footer */

footer {
    background-color: transparent;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #000000;
    text-transform: none;
}




.merch {
    text-align: center;
    
    
}

.general-sub {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    float: left;
    margin: 0;
    text-shadow: 2px 2px #ff0000;
}

.book-now {
    height: 150px;
}

.social-links li a i {
    float: right;
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background-color: #ff0000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
